/**
公共样式
*/
body{
    background: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@font-face {
    font-family: DINAlternate-Bold;
    src:url('./fonts/DINAlternateBold.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '微软雅黑'
}
.font-din{
    font-family:  DINAlternate-Bold !important;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.disabled {
    opacity: .5;
}
.text-center{
    text-align: center;
}
.clearfix:after {
    display: block;
    content: '';
    clear: both;
    visibility: hidden;
    height: 0;
    width: 0;
}

@keyframes rotate {
    from  {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
.hideForm{
    opacity:0;
    filter: alpha(opacity=0);
}
/* 强制提现透明遮罩 */
#withDraw {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    background: transparent;
}